$white: hsl(0, 100%, 100%);
$gray-500: hsl(277, 10%, 46%);
$gray-100: hsl(225, 10%, 92%);
$blue-600: hsl(185, 75%, 39%);
$blue-400: hsl(183, 62%, 54%);
$navy-950: hsl(229, 23%, 23%);
$gradient-1: linear-gradient(to right, hsla(195, 90%, 37%, 0%), hsla(174, 100%, 66%, 100%));