@use "./style-presets/colors" as c;
@use "./style-presets/spacing" as s;
@use "./style-presets/typography" as t;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: auto;
}